@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  font-weight: 400, 700;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
  font-weight: 400;
}

:root {
  
/* Primary */
--navy950: hsl(233, 47%, 7%);
--blue950: hsl(244, 37%, 16%);
--purple500: hsl(277, 64%, 61%);

/* Neutral */
--white-main: hsl(0, 0%, 100%);
--white-stats: hsl(0, 0%, 100%);
--white-info: hsla(0, 0%, 100%, 0.75);
--white-stat-heading: hsla(0, 0%, 100%, 0.6);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--navy950);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
/*  width: 65rem; */
/*  height: 30rem; */
  display: flex;
/*  align-items: stretch; */
}

.text-box {
  display: block;
  background-color: var(--blue950);
  height: 100%;
  width: 100%;
  padding: 3.5rem 3rem;
  color: white;
}

.image-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  font-size: 2.5rem;
  color: var(--white-main);
  text-align: left;
  margin: 2rem 0;
}

.span {
  color: var(--purple500);
}

.info {
  font-size: 1rem;
  color: var(--white-info);
  text-align: left;
  line-height: 1.25rem;
  margin-bottom: 3rem;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers {
  font-size: 2rem;
  color: var(--white-stats);
  text-align: left;
}

.caps {
  font-size: .925rem;
  color: var(--white-main);
  text-align: left;
}

.info, .caps {
  font-family: "Inter";
}

.header, .numbers {
  font-family: "Lexend Deca";
}
